* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    font-size: 4rem;
    margin: 2rem 0;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-bottom: 2rem;
}

.btn-clear, .btn-resize {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.container {
    display: grid;
    height: 500px;
    border: 1px solid #000;
    max-width: 500px;
    width: 90%;;
    margin: 0 auto;
}

.flex-item {
   border: 1px solid #000;

}